body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(235, 229, 229, 0.986);
}

header > p {
  margin: auto;
  text-align: center;
  width: 800px;
}

h1, nav, figure {
  text-align: center;
}

nav > p {
  margin: auto;
  text-align: center;
}

div {
  background-color: red;
  text-align: center;
  width: 250px;
  float: right;
  float: left;
}